.grid{
    width: 606px;
    height: 606px;
    flex-wrap: wrap;
    display: flex;
}

.square{
    width: 200px;
    height: 200px;
    /* display: inline-block; */
    border: 1px solid black;
}

.mole{
    background-image: url('mole.jpg');
    background-size: cover;
    /* background-color: red; */
}